body {
    background-color:#edf2f8;
}

.card {
    height: 180px;
    width:550px;
    background-color: white;
    display: flex;
    margin: auto;
    margin-top: 15%;
    border-radius: 10px;
}

.photo-side {
    height: 180px;
    width: 250px;
    display: inline-block;
    
}

.drawer-pic {
    position:relative;
    width: 250px;
    height: 180px;
    border-radius: 10px 0 0 10px;
    
}

.info-side {
    height: 180px;
    width: 250px; 
    display: inline-block;
    padding: 20px;
    font-family: 'Manrope', sans-serif;
    font-size: 12px;
}

.text-bold {
    font-weight: bold;
    padding-bottom: 10px;
    font-size: 14px;
}

.text-gray {
    color: #989ea7;
}

.avatar {
    border-radius: 80px;
    width: 40px;
    padding-top: 10px;
}

.name-avatar {
    margin-top: -14%;
    margin-left: 20%;
    font-weight: bold;
}

.date-avatar {
    margin-top: 2%;
    margin-left: 20%;
    color: #c1c6cc;
}

button {
    width: 15%;
    height: 19%;
    margin-left: 90%;
    position: relative;
    bottom:15%;   
}
.arrow {
  width: 30px;
  margin-left: -13%;
}

ul {
background-color: #4a546b;
border-radius: 15px;
display: none;
bottom: 55%;
left: 70%;
position: relative;
width: 50%;
height: 20%;
}

li {
background-color: #4a546b;
border-radius: 15px;
display: inline;
}

.share {
    margin-left: 10%;
    position: absolute;
    top:30%;
    color:#c1c6cc;
    font-weight: bold;
    
}

.fb {
    width: 8%;
    top:35%;
    position: absolute;
    left:50%;
    
    
}

.tt {
    width:8%;
    position: absolute;
    top:35%;
    margin-left: 65%;
}

.pinterest {
    width:8%;
    position: absolute;
    top:35%;
    margin-left: 80%;
}

